behave==1.2.6
certifi==2018.4.16
click==6.7
Django==2.1
Flask==1.0.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
numpy==1.14.3
parse==1.8.2
parse-type==0.4.2
pipenv==2018.5.18
pytz==2018.5
six==1.11.0
virtualenv==15.1.0
virtualenv-clone==0.3.0
Werkzeug==0.14.1
psycopg2>=2.7,<2.8 --no-binary psycopg2
