{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}
 <!-- END: header -->

  <!-- BEGIN: Content -->
  <main>
    <section id="next-section" class="probootstrap-section">
      <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-6 addrecord">
            <form method="post" class="probootstrap-form">
              {% csrf_token %}
              <h2><b>Add a Reminder for {{ horse.name }}</b></h2>
              <!-- <div class="row"> -->
                  {% for field in form %}
                <!-- <div class="col-md-6"> -->
                  <!-- <div class="form-group"> -->
                    <label> {{field.label_tag}} </label>
                    <div> {{field }}</div>
                  <!-- </div> -->
                <!-- </div> -->
                {% endfor %}
          <!-- </div> -->
          <button type="submit" class="addhorsebutton"> Add Reminder </button>

      </div>

    </div>

    </section>

  </main>

{% endblock %}
