{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}
<!-- END: header -->

<!-- BEGIN: Content -->
<!-- <main>
      <section id="next-section" class="probootstrap-section"> -->
<!-- <div class="container"> -->
<div class="row probootstrap-gutter60 row mb50">
    <div class="col-md-4 col-md-offset-4 text-center section-heading">
            <h2>Update User Profile</h2>
        </div>

    <div class="col-md-pull-4 col-md-4 user-image">
        <figure><img src="{% static 'IMAGES/user.png' %}" alt="user photo" class="img-responsive"></figure>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Change Photo">
        </div>
        <form method="post" enctype="multipart/form-data" class="probootstrap-form">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            <div class="form-group">
                <label> {{ field.label_tag }} </label>
                <div> {{ field }}</div>
            </div>
            {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="addhorsebutton">Save Changes</button>
    </form>

    </div>

</div>

<!-- </div>

</section>

</main> -->


{% endblock %}
