{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}

<div class="row probootstrap-gutter60 row mb50">
    <div class="padding"></div>
    <div class="col-md-offset-2 text-center section-heading">
        <h2>Update User Profile</h2>
    </div>

    <div class="col-md-offset-5 col-md-4">
        <figure><img src="{{horse_owner.display_image.url}}" alt="user-imageSmall" class="img-responsive"></figure>
        <form method="post" enctype="multipart/form-data" class="probootstrap-form">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                <div class="form-group">
                    <label> {{ field.label_tag }} </label>
                    <div> {{ field }}</div>
                </div>
                {% for error in field.errors %}
                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    {{ error }}

                </div>
                {% endfor %}
                {% endfor %}
            </div>
            <button type="submit" class="col-md-offset-3 addhorsebutton">Save Changes</button>
        </form>

    </div>

</div>
{% endblock %}
