<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ebarq</title>
    <meta name="description" content="ebarq">
    <meta name="keywords" content="ebarq">

    {% load staticfiles %}
    <script src="{% static 'js/echarts.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/custom.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'CSS/headerlogbook.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/headerebarq2.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/styles-merged.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/sidebar.css' %}">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header-ebarq">
      <!--<div class="container">-->
          <!-- <img src="{% static 'IMAGES/StandardEBARQLOGO2.png' %}" class="ebarq-logo"> -->
      <!--</div>-->
  </header>


  <header role="banner" class="probootstrap-header">
        <img src="{% static 'IMAGES/StandardEBARQLOGO2.png' %}" class="ebarq-logo">
      <div class="container">
          <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
          <div class="mobile-menu-overlay"></div>
      </div>
      <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
              <div class="sidebar2 probootstrap-nav">
                 <a href="{% url 'dashboard'  %}" role="button">Home</a>
                 <a href="{% url 'userprofile'  %}"role="button">My Profile</a>
                 <a href="{% url 'horseprofile'  %}"role="button">Horse Profile</a>
                 <a href="{% url 'ebarqdashboard'  %}"role="button">E-BARQ</a>
                 <a href="{% url 'horseReminders'  %}" role="button">Horse Reminders</a>
                 <a href="{% url 'setting'  %}" role="button">Settings</a>
                 <a href="{% url 'logout'  %}" role="button">Logout</a>
              </div>
          </ul>
          <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
          </div>
        </nav>
  </header>
{% block content %}
{% endblock %}
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
</div>
</body>
</html>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
