{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}
<!-- START: header -->


<!-- END: header -->
<!-- BEGIN: Content -->
<!-- <main>
  <section id="next-section" class="probootstrap-section">
    <div class="container"> -->
{% for horse in horses %}
<div class="row probootstrap-gutter60 mb50">
    <div class="padding"></div>
    <div class="col-md-4"></div>
    <!-- need to parse horse value via django to the horse detail.-->
    <a href="{% url 'horse_inDepth' horse_id=horse.pk %}" class="horseinfo col-md-4">
        <h3><b>Name: {{horse.name}}</b></h3>
        <h3><b>ID: {{horse.pk}}</b></h3>
        <h3>Age: {{horse.age}}</h3>
        <h3>Gender: {{horse.gender}}</h3>
        <h3>Birthday: {{horse.date_of_birth}}</h3>
        <h3>Weight: {{horse.weight}} kg</h3>
        <h3>Height: {{horse.height}} cm</h3>
        <div class="padding3"></div>
    </a>
    <div>
        <div class="col-md-4">
            <figure><img src={{ horse.whorl.url }} class="img-responsive horse-photosmallFront"></figure>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <figure><img src={{ horse.side_face.url }} class="img-responsive horse-photosmall"></figure>
        </div>
        <div class="col-md-4">
            <figure><img src={{ horse.full_side.url }} class="img-responsive horse-photosmall"></figure>
        </div>
    </div>
    <div class="padding"></div>
</div>

{% endfor %}
<div class="padding"></div>
<div class="row probootstrap-gutter60 mb50 col-md-offset-6">
    <a href="{% url 'horse_add'  %}">
        <button type="button" class="addhorsebutton"><b> Add Horse</b></button>
    </a>
</div>

{% endblock %}
