{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}<!---->
<!-- END: header -->
<!-- BEGIN: Content -->
<!-- <main>
    <section id="next-section" class="probootstrap-section">
      <div class="container"> -->




<div class="row user-profile probootstrap-gutter60">
    <div class="col-md-3 mb30"></div>
    <div class="col-md-4 mb30">
        <h4 class="mb30"><img src="{% static 'IMAGES/star.png' %}"> <b>Upcoming Events For your horses</b></h4>
        {%for reminder in reminders%}
        <ul class="probootstrap-blog-list">
            <li><h4>{{reminder.horse.name}}</h4>
                <span class="meta">{{reminder.event}}</span><br>
                <span class="meta"> {{reminder.time}} , {{reminder.date}}</span>
                <p>{{reminder.notes}}</p>
            </li>
        </ul>
    </div>
    {% endfor %}
    <div class="col-md-4 mb30">
        <h4 class="mb30"><img src="{% static 'IMAGES/star.png' %}"> <b>Performances</b></h4>
        <ul class="probootstrap-blog-list">
{%for perfromance in performances%}
            <li><h4>{{performance.horse.name}}</h4>
                <span class="meta">10:00  18/9/2018</span>
                <span class="meta">Distance: 1850m</span>
                <span class="meta">Time: 1:54.700</span>
                <span class="meta">Avg Speed:57.9 km/h</span>
                <span class="meta">Came 8th place in practice competition</span>
            </li>
        </ul>
            <button type="button" class="addbutton"><b> Add Performance</b></button>
        </a>
    </div>
</div>
{% endfor %}


<!-- </div>
</section>
</main> -->


<!-- END: Content -->
{% endblock %}
