{% extends "headerNoNav.html" %}
{% block content %}
{% load staticfiles %}
<!-- END: header -->


<!-- BEGIN: Content -->
<div class="row mb50">
    <div class="col-md-4 user-image col-md-offset-1">
        <figure><img src="{{owner.display_image.url}}" alt="user-imageSmall" class="user-imageSmall img-responsive">
        </figure>
    </div>

    <div class="padding"></div>

    <div class="col-sm-pull-1 col-md-6">
        <h1 class="probootstrap-heading"><b>Participant Information Sheet</b></h1>
        <section>
            You have been invited to participate in this study because you are a horse owner and familiar with your
            own horse’s behaviour. This Participant Information Statement tells you about the research study.
            Knowing what is involved will help you decide if you want to take part in the research. Please read this
            sheet carefully and ask questions about anything that you don’t understand or want to know more
            about.
            Participation in this research study is voluntary.
            By giving your consent to take part in this study you are telling us that you:</br>


            <blockquote>- Understand what you have read.</br>
                - Agree to take part in the research study as outlined below.</br>
                - Agree to the use of your personal information as described.
            </blockquote>

            <img src="{% static 'IMAGES/flowpath.png' %}" class="col-lg-pull-4 user-imageMedium col-sm-offset-2"></br>


            You can download a copy of the Participant Information Statement <a
                href="{% static 'Documents/E-BARQ Participant Information Sheet.pdf' %}"><b><i>here</i></b></a>.
        </section>
         <div class="col-md-3"></div>
        <div>
            <a href="{% url 'ebarqdashboard'  %}" type="button" class="col-md-4 addhorsebutton">
                I Agree
            </a>
        </div>

        <div class="col-md-2">

        </div>


        <!--<h5 class="probootstrap-heading">5329345112</h5>-->
        <!--<h5 class="probootstrap-heading"><b>User Name:</b></h5>-->
        <!--<h5 class="probootstrap-heading">{{ user.first_name }}</h5>-->

    </div>
</div>

<!-- END: Content -->

{% endblock %}