<!--<!DOCTYPE html>-->
{% extends "headerNoNav.html" %}
{% block content %}
{% load staticfiles %}


  <!-- END: header -->


  <!-- BEGIN: Content -->


    
 <div class="container questionform">
    
   <div class="row">
      <div class="col-md-2"></div>
     <div class="col-md-8">
       <form action="#" method="post">
         <div class="row">
            <div class="col-md-12 text-center section-heading">
                <h2>E-BARQ Structure</h2>
              </div>
            <div class="col-md-12">
                <h2>Record ID: 123456</h2>
                <h4 class="condition">If you would like to download a copy of the Participant Information Statement, please do so here.</h4>
                <h4 class="condition">By pressing SUBMIT, I agree to the terms of the Participant Information Statement and agree to take the E-BARQ survey. 
                    If you do not wish to take the survey, please close your browser window now.</h4>
                <hr>
            </div>
          </div>
        <div class="row">

           <div class="col-md-6">
             <div class="form-group">
               <label for="email" class="questionlabel">What is your Email Address</label>
               <input type="text" class="form-control" placeholder="Your email address" name="fname">
             </div>
           </div>
        </div>
        <hr>
          <div align="left"><br>
            <div class="form-group">
                <label for="checkboxtype" class="questionlabel">Checkbox Question</label>
                <label class="checkcontainer" >One
                   <input type="checkbox" checked="checked">
                   <span class="checkmark"></span>
                 </label>
                 <label class="checkcontainer">Two
                   <input type="checkbox">
                   <span class="checkmark"></span>
                 </label>
                 <label class="checkcontainer">Three
                   <input type="checkbox">
                   <span class="checkmark"></span>
                 </label>
                 <label class="checkcontainer">Four
                   <input type="checkbox">
                   <span class="checkmark"></span>
                 </label>   
              </div>
            <hr>
            <!-- Trainability -->
            <label for="yesnotype" class="questionlabel">When teaching a new lesson, does [horse_id]?</label><br>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Learn quickly with pressure cues</label><br>
              <input type="radio" name="group1" value="2"> Never<br>
              <input type="radio" name="group1" value="3" checked> Rarely<br>
              <input type="radio" name="group1" value="4"> Sometimes<br>
              <input type="radio" name="group1" value="5"> Usually<br>
              <input type="radio" name="group1" value="6"> Always<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Learn quickly when corrected</label><br>
              <input type="radio" name="group1" value="2"> Never<br>
              <input type="radio" name="group1" value="3" checked >Rarely<br>
              <input type="radio" name="group1" value="4"> Sometimes<br>
              <input type="radio" name="group1" value="5"> Usually<br>
              <input type="radio" name="group1" value="6"> Always<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Learn quickly when punished</label><br>
              <input type="radio" name="group1" value="2"> Never<br>
              <input type="radio" name="group1" value="3" checked> Rarely<br>
              <input type="radio" name="group1" value="4"> Sometimes<br>
              <input type="radio" name="group1" value="5"> Usually<br>
              <input type="radio" name="group1" value="6"> Always<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            <hr>
            </div>
            <!-- Rideability -->
            <label for="yesnotype" class="questionlabel">When ridden or driven, how responsive is [horse_id] to:</label><br>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Leg pressure to go from walk to trot</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable<br>
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Leg pressure to go from trot to canter</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable<br>
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Rein tension to turn</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable<br>
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Seat cues for upward transitions</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable<br>
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Seat cues for downward transitions</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable<br>
            <hr>
            </div>
            <label for="yesnotype" class="questionlabel">When being led or worked on the ground, how responsive is [horse_id] to:</label><br>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Voice cues to speed up</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable<br>
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Voice cues to slow down</label><br>
              <input type="radio" name="group1" value="4"> Highly responsive
              <input type="radio" name="group1" value="3" checked> Moderately responsive
              <input type="radio" name="group1" value="2"> Unresponsive
              <input type="radio" name="group1" value="0"> Not observed/ applicable
              <hr>
            </div>
            <label for="yesnotype" class="questionlabel">Does [horse_id]?</label><br>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Buck, pigroot or kick out when signalled to canter</label><br>
              <input type="radio" name="group1" value="2"> Never<br>
              <input type="radio" name="group1" value="3" checked> Rarely<br>
              <input type="radio" name="group1" value="4"> Sometimes<br>
              <input type="radio" name="group1" value="5"> Usually<br>
              <input type="radio" name="group1" value="6"> Always<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Buck at other times (when ridden)</label><br>
              <input type="radio" name="group1" value="2"> Never<br>
              <input type="radio" name="group1" value="3" checked> Rarely<br>
              <input type="radio" name="group1" value="4"> Sometimes<br>
              <input type="radio" name="group1" value="5"> Usually<br>
              <input type="radio" name="group1" value="6"> Always<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            </div>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">Unseat rider when bucking, pigrooting or kicking out</label><br>
              <input type="radio" name="group1" value="2"> Never<br>
              <input type="radio" name="group1" value="3" checked> Rarely<br>
              <input type="radio" name="group1" value="4"> Sometimes<br>
              <input type="radio" name="group1" value="5"> Usually<br>
              <input type="radio" name="group1" value="6"> Always<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            <hr>
            </div>
            <label for="yesnotype" class="questionlabel">Some horses display defensive or aggressive behaviour in certain situations.
              Typical signs would include threatening to bite, pinning ears, tail swishing, threatening to kick or strike. The most serious signs would include actual biting, kicking or striking.
              Check a box on the 5 point scale below to indicate your horse's recent tendency (using the previous 6 months as a guide) to show these behaviours in the following context:</label><br>
            <div class="form-group">
              <label for="yesnotype" class="narrowlabel">When signalled to canter under saddle/driving</label><br>
              <input type="radio" name="group1" value="2"> 1 - No signs<br>
              <input type="radio" name="group1" value="3" checked> 2<br>
              <input type="radio" name="group1" value="4"> 3 - Moderate signs (ears back, tail swish, threaten to bite)	<br>
              <input type="radio" name="group1" value="5"> 4<br>
              <input type="radio" name="group1" value="6"> 5 - Serious signs (kick, bite, strike)<br>
              <input type="radio" name="group1" value=" "> Not observed/ applicable
            <hr>
            </div>
            <div class="form-group">
              <label for="yesnotype" class="questionlabel">Yes Or No Question</label><br>
              <input type="radio" name="group2" value="Water"> Yes<br>
              <input type="radio" name="group2" value="Beer"> No<br>
            </div>
            <hr>
            <div class="form-group">
              <label for="dropdowntype" class="questionlabel">Dropdown Question</label><br>
              <select class="custom-select">
                  <option selected>Open this select menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
              </select>     
            </div> 
         <hr>
         </div>
         <div class="form-group">
           <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Submit">
         </div>

       </form>
     </div>
    
   </div>
 </div>


  <!-- END: Content -->

{% endblock %}
