{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}
<!-- END: header -->


<!-- BEGIN: Content -->
<div class="row mb50">
    <div class="col-md-4 user-image col-md-offset-4">
        <figure><img src="{{owner.display_image.url}}" alt="user-imageSmall" class="user-imageSmall img-responsive"></figure>
    </div>
    <div class="padding"></div>
    <div class="col-md-4">
        <h1 class="probootstrap-headeing"><b>Participant Information Sheet</b></h1>
        <section>The Participant Information Sheet is <a href="{% static 'Documents/E-BARQ Participant Information Sheet.pdf' %}">here</a> for you to read.</section>
        <h5 class="probootstrap-heading"><b>User ID:</b></h5>
        <h5 class="probootstrap-heading">5329345112</h5>
        <h5 class="probootstrap-heading"><b>User Name:</b></h5>
        <h5 class="probootstrap-heading">{{ user.first_name }}</h5>
    </div>
</div>

<!-- END: Content -->

{% endblock %}