{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}
<!-- END: header -->


<!-- BEGIN: Content -->
<div class="row mb50">
    <div class="col-md-2"></div>
    <div class="col-md-4 user-image">
        <figure><img src="{% static 'IMAGES/user.png' %}" alt="user photo" class="img-responsive"></figure>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 user-profile">
        <h2 class="probootstrap-heading"><b>User ID:</b></h2>
        <h2 class="probootstrap-heading">5329345112</h2>
        <h2 class="probootstrap-heading"><b>User Name:</b></h2>
        <h2 class="probootstrap-heading">{{ user.first_name }}</h2>
        <h2 class="probootstrap-heading"><b>Privacy Setting:</b></h2>
        <input type="text" class="form-control" id="setting" name="setting">
    </div>
</div>

    <!-- END: Content -->

    {% endblock %}