{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}

<!-- END: header -->
<!-- BEGIN: Content -->
<!-- <main> -->
<!-- <section id="next-section" class="probootstrap-section"> -->
<!-- <div class="container"> -->
<div class="row probootstrap-gutter60 row mb50">
    <div class="col-md-offset-4 user-profile">
        <div class="col-md-4">
            <figure><img src={{owner.display_image.url}} alt="profile-photo" class="img-responsive"></figure>
        </div>
        <div class="col-md-4">
            <h5 class="probootstrap-heading"><b>User ID:</b></h5>
            <h5 class="probootstrap-heading">{{profile.id}}</h5>
            <h5 class="probootstrap-heading"><b>User Name:</b></h5>
            <h5 class="probootstrap-heading">{{owner.first_name }} {{owner.last_name}}</h5>
            <h5 class="probootstrap-heading"><b>Contact Number:</b></h5>
            <h5 class="probootstrap-heading">{{owner.contact_number}}</h5>
            <h5 class="probootstrap-heading"><b>Contact Email:</b></h5>
            <h5 class="probootstrap-heading">{{profile.email}}</h5>
        </div>


        <div class="col-md-8 form-group">
            <a href="{% url 'editprofile'  %}">
                <button type="button" class="addbutton"><b>Edit Profile</b></button>
            </a>
        </div>
    </div>
</div>

<!-- </div> -->

<!-- </section> -->

<!-- </main> -->


<!-- END: Content -->
{% endblock %}
