option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "EBARQ.settings"
    "PYTHONPATH": "/opt/python/current/app/EBARQ:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: EBARQ/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
