.logo {
    float: left;
    color: rgb(171, 40, 40);
    padding-left: 20px;
    font-size: 30px;
    display: block;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;

}

/*header*/
.container {

    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: 0;

}

.probootstrap-logo {
    padding-left: 0;
    z-index: 10;
}

.logbook-logo {
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 150px;
    padding-left: 50px;
}

.ebarq-logo {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    left: 0;
    padding-left: 0;
    position: absolute;
    z-index: 10;
}

.btn.btn-primary {

    border: 2px solid #266dac;
    background: #266dac;
    color: #fff;

}

/* dashboard-page */
.probootstrap-gutter10 > div[class*="col-"] {

    position: relative;
    margin-top: 100px;

}

.profile-photo {

    position: absolute;
    width: auto;
    height: auto;
}

.horse-photo {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

/* userprofilepage */
.user-image {
    margin-top: 100px;
    padding-top: 100px;
    padding-left: 150px;
}

.user-profile {
    padding-top: 100px;
    padding-left: 150px;
    margin-top: 50px;
}

.photobutton {

    background-color: #266dac;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.editprofilebut {

    background-color: #266dac;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 25px;

}

/* addrecordpage */
.addrecord {

    margin-top: 100px;
    margin-left: 150px;

}

/* horsedetailpage */
.addbutton {

    background-color: #266dac;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;

}

/* horseprofilepage */
.addhorsebutton {
    background-color: #266dac;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

}
.horseinfo {
    border: 2px black;
}

.form-group {
    z-index: 24;
}

.col-md-4 {
    z-index: 24;
}

/* add horse page*/
.horse-create {
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 150px;
}

.probootstrap-form.probootstrap-form-box {

    background: #fff;
    padding: 80px;
    -webkit-box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, .1);
    box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, .1);

}

.graph-area {
    /* margin-top: 80px; */
    padding-top: 100px;
    padding-left: 250px;
}

/* questionnaire page */
.questionnaire{
    padding-top: 100px;
    padding-left: 150px;
    text-align: left;
}
/* The container */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dropcontainer {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.condition{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: rgb(119, 119, 119);
}

.questionform {
    padding-top: 100px;
    padding-left: 150px;
}

.questionlabel{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: black;
}
.narrowlabel{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: rgb(43, 41, 41);
}
/* Your custom css code goes here */
