@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,300,400');

/*.ebarq-button {*/
  /*font-family: "Open Sans";*/
  /*display: block;*/
  /*width: 100px;*/
  /*height: 200px;*/
  /*padding-right: 30px;*/
  /*padding-bottom: 50px;*/
  /*padding-left: 20px;*/
  /*background-color: #095e0b;*/
/*}*/
.btn{
  font-family: "Open Sans";
  padding: 14px 24px;
  border: 2px;
}
.btn-outline-primary{

}
.sidebar {
  margin: 0;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  width: 250px;
  background-color: #266dac;
  position:relative;
  height: 750px;
  overflow: auto;
}

.sidebar a {
  font-family: "Open Sans";
  display: block;
  color:white;
  margin-bottom: 20px;
  padding: 25px;
  text-decoration: none;
  text-align: center;
}

.sidebar a.active {
  background-color:  #ff8c1a;
  color:black;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color:black;
}

.sidebar2 {
  margin: 0;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  width: 250px;
  border-right: 3px solid black;
  border-radius: 2px;
  background-color: white;
  position:relative;
  height: 750px;
  overflow: auto;
}

.sidebar2 a {
  font-family: "Open Sans";
  display: block;
  color:black;
  margin-bottom: 20px;
  padding: 25px;
  text-decoration: none;
  text-align: center;
}

.sidebar2 a.active {
  background-color:  #ff8c1a;
  color:black;
}

.sidebar2 a:hover:not(.active) {
  background-color:	#C0C0C0;
  color:black;
}

.probootstrap-mobile-menu-active .sidebar a.active {
  background-color:  #ff8c1a;
  color:black;
}

.probootstrap-mobile-menu-active .sidebar a:hover:not(.active) {
  background-color: #555;
  color:black;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
