{% extends "headerLogbook.html" %}
{% block content %}
{% load staticfiles %}

<!-- END: header -->
<!-- BEGIN: Content -->
<!-- <main> -->
<!-- <section id="next-section" class="probootstrap-section"> -->
<!-- <div class="container"> -->
<div class="row mb50">
    <div class="col-md-4"></div>
    <div class="col-md-4 user-image">
        <figure><img src="{% static 'IMAGES/user.png' %}" alt="user photo" class="img-responsive"></figure>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Change Photo">
        </div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 user-profile">
        <h2 class="probootstrap-heading"><b>User ID:</b></h2>
        <h2 class="probootstrap-heading">5329345112</h2>
        <h2 class="probootstrap-heading"><b>User Name:</b></h2>
        <h2 class="probootstrap-heading">{{ user.first_name }}</h2>
        <h2 class="probootstrap-heading"><b>Contact Number:</b></h2>
        <h2 class="probootstrap-heading">0432534342</h2>

        <div class="form-group">
            <a href="{% url 'editprofile'  %}">
                <button type="button" class="addbutton"><b>Edit Profile</b></button>
            </a>
        </div>
    </div>
</div>

    <!-- </div> -->

    <!-- </section> -->

    <!-- </main> -->


    <!-- END: Content -->
    {% endblock %}
